body {font-size: 8pt;}
.b-dialog-action {
  width:520px;
}

.b-dialog-action  {
  padding-left:1em;
}

.b-dialog-action  .items {
    width: 130px;
}

.b-dialog-action  .items li {
  position:relative;
  padding:.2em 2em .4em 0;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
}

  .b-dialog-action  .items li:hover {
    background-color:#e6e6e6;
  }

  .b-dialog-action  .items .cell {
    padding:0 .5em;
    float:left;
  }

    .b-dialog-action  .items .type {
      //width:10em;
    }

    .b-dialog-action  .items .type .g-link {
      position:relative;
      top:0.25em;
    }

    .b-dialog-action  .items .from,
    .b-dialog-action  .items .until {
      width:5em;
    }

    .b-dialog-action input.time {
      width:3em;
    }

  .b-dialog-action  .items .delete {
    position:absolute;
    right:0;
    top:0.25em;
    display:none;
    width:1.6em;
    height:1.6em;
    background:url("../../images/schema/delete.gif") no-repeat 50% 50%;
    cursor:pointer;
  }

    .b-dialog-action  .items li:hover .delete {
      display:block;
    }

.b-dialog-action input.date {
  width:5em;
}

.b-dialog-action .b-dropdown {
  margin-top:1em;
}
