.template {
//  width:420px;
}

.template  {
  padding-left:1em;
}

.template  .sortable {
}

.template  .sortable li {
  position:relative;
  padding:.2em 2em .4em .4em;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
    font: normal 8pt sans-serif;
}

  .template  .sortable li:hover {
    width:90%;
    background-color:#e6e6e6;
  }

  .template  .sortable .cell {
    padding: 0 0.5em;
    float:left;
  }

    .template  .sortable .type {
      width:30em;
    }

    .template  .sortable .type .g-link {
      position:relative;
      top:0.25em;
    }

    .template input.time {
      width:3em;
    }

  .template  .sortable .delete {
    position:absolute;
    right:0;
    top:0.25em;
    display:none;
    width:1.6em;
    height:1.6em;
    background:url("../../images/schema/delete.gif") no-repeat 50% 50%;
    cursor:pointer;
  }

  .template  .sortable .edit {
    position:absolute;
    right:20;
    top:0.25em;
    display:none;
    width:1.6em;
    height:1.6em;
    //background:url("./images/delete.gif") no-repeat 50% 50%;
    cursor:pointer;
  }

    .template  .sortable li:hover .delete {
      display:block;
    }

    .template  .sortable li:hover .edit {
      display:block;
    }

.template input.date {
  width:5em;
}

.template .b-dropdown {
  margin-top:1em;
}
