.b-dialog-schedule {
  width: 30em;
}

.grid {
    font-size: 12px;
}

.b-dialog-schedule td.element {
  padding-left:1em;
}
.b-dialog-schedule td.element .items {
width: 27em;
border: 1px solid #aaa;
}
.b-dialog-schedule td.element .items li {
  position:relative;
  padding:.4em .4em .4em 0;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  list-style: none outside none;
}

  .b-dialog-schedule td.element .items li:hover {
        background-color:#e6e6e6;
  }

  .b-dialog-schedule td.element .items .cell {
    padding:0 .5em;
    float:left;
  }

    .b-dialog-schedule td.element .items .type {
      width:8em;
    }

    .b-dialog-schedule td.element .items .type .g-link {
      position:relative;
      top:0.25em;
    }

    .b-dialog-schedule input.time {
      width:5em;
    }

  .b-dialog-schedule td.element .items .delete {
    position:absolute;
    right:0;
    top:0.25em;
    display:none;
    width:1.6em;
    height:1.6em;
    background:url("../../images/schema/delete.gif") no-repeat 50% 50%;
    cursor:pointer;
  }

    .b-dialog-schedule td.element .items li:hover .delete {
      display:block;
    }

.b-dialog-schedule input.date {
  width:5em;
}

.b-dialog-schedule .b-dropdown {
  margin-top:1em;
}
