@font-face {
    font-family: 'Exo2';
    src: url('/css/invoice/Exo2-Regular.ttf') format('truetype');
}

body {
    font-family: 'Exo2';
    font-size: 8pt;
}

th {
    font-size: 6pt;
}

small {
    font-size: 6.5pt;
}

strong {
    font-size: 6.5pt;
}

h2 {
    font-size: 12pt;
}