---
include:
  - project: 'ci-cd/templates'
    ref: master
    file: 'build.shell.gitlab-ci.yml'
  - project: 'ci-cd/templates'
    ref: master
    file: 'lintv2.shell.gitlab-ci.yml'
  - project: 'ci-cd/templates'
    ref: master
    file: 'deployv2.shell.gitlab-ci.yml'
  - project: 'ci-cd/templates'
    ref: master
    file: 'cleanupv2.shell.gitlab-ci.yml'
  - project: 'ci-cd/templates'
    ref: master
    file: 'dismiss.shell.gitlab-ci.yml'


stages:
  - build
  - deploy
  - cleanup
  - dismiss

# PROD
build_prod:
  extends: .build_prod
  rules:
    - if: $CI_PROJECT_ID == "422" && $CI_COMMIT_BRANCH == "master" && $STAGE_PIPELINE != "true"
deploy_prod:
  extends: .deploy_prod
  rules:
    - if: $CI_PROJECT_ID == "422" && $CI_COMMIT_BRANCH == "master" && $STAGE_PIPELINE != "true"
      when: manual
      allow_failure: true
cleanup_prod:
  extends: .cleanup_prod
  rules:
    - if: $CI_PROJECT_ID == "422" && $CI_COMMIT_BRANCH == "master" && $STAGE_PIPELINE != "true"
      when: manual
      allow_failure: true
dismiss_prod:
  extends: .dismiss_prod
  rules:
    - if: $CI_PROJECT_ID == "422" && $CI_COMMIT_BRANCH == "master" && $STAGE_PIPELINE != "true"
      when: manual
      allow_failure: true

# EUPROD
build_euprod:
  extends: .build_euprod
  rules:
    - if: $CI_PROJECT_ID == "422" && $CI_COMMIT_BRANCH == "master" && $STAGE_PIPELINE != "true"
deploy_euprod:
  extends: .deploy_euprod
  rules:
    - if: $CI_PROJECT_ID == "422" && $CI_COMMIT_BRANCH == "master" && $STAGE_PIPELINE != "true"
      when: manual
      allow_failure: true
cleanup_euprod:
  extends: .cleanup_euprod
  rules:
    - if: $CI_PROJECT_ID == "422" && $CI_COMMIT_BRANCH == "master" && $STAGE_PIPELINE != "true"
      when: manual
      allow_failure: true
dismiss_euprod:
  extends: .dismiss_euprod
  rules:
    - if: $CI_PROJECT_ID == "422" && $CI_COMMIT_BRANCH == "master" && $STAGE_PIPELINE != "true"
      when: manual
      allow_failure: true

# STAGE
build_stage:
  extends: .build_stage
  interruptible: true
  rules:
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" || $STAGE_PIPELINE == "true")
deploy_stage:
  extends: .deploy_stage
  rules:
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" || $STAGE_PIPELINE == "true")
      when: manual
      allow_failure: true
cleanup_stage:
  extends: .cleanup_stage
  rules:
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" || $STAGE_PIPELINE == "true")
      when: manual
      allow_failure: true
dismiss_stage:
  extends: .dismiss_stage
  rules:
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" || $STAGE_PIPELINE == "true")
      when: manual
      allow_failure: true
