#contacts-view {
    margin: 10px 0 0 0;
    padding: 10px 10px 0 10px;
}

#contacts-view h2 {
    margin: 0;
}

.contacts-view-comment {
    font-weight: normal;
    margin-bottom: 10px;
    color: #888;
}

#contacts-edit {
    display: none;
}