.transfer-block {
    overflow-y: scroll;
    height: 230px;
    max-height: 230px;
    background-color: #F0F0F0;
}

.transfer-block .contragent-wrap {
    padding-top: 10px;
    padding-bottom: 10px;
}

.transfer-block .account {
    font-weight: bold;
    color: #000;
}

.transfer-block .account.active {
    color: green;
}

.alert-danger {
    position: fixed;
    bottom: 0;
    left: 20px;
    margin-bottom: 0;
    width: 50%;
}

.buttons-block {
    position: fixed;
    bottom: 8px;
    right: 15px;
}

.buttons-block button {
    width: 100px;
    margin-right: 15px;
}

.buttons-block submit {
    width: 100px;
}