html,
body {
    background-color: white;
    margin: 0;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
}


a { color: #43657d; }
a:hover { color: #0d7aae; }

a.nohover { color: #000; }
a.nohover:hover { color: #000; }

.site_caption {
    text-align: center;
    padding: 15px 0;
}

.logo {
    display: inline-block;
    background: url("../images/logo2.gif");
    width: 113px;
    height: 42px;
    margin: 20px 0 0 20px;
}

.site_caption .message {
    font-size: 10px;
    line-height: 120%;
}

.cl_main_col1 {
    width: 30%;
}

.cl_main_col2 {
    width: 70%;
}

@media print {
    .layout_left, #right_menu, #top_search, #data_cs4 {
        display: none;
    }

    #cl_main_div {
        width: 100%;
        margin: 0 0 0 0;
    }

    .cl_main_col1 {
        width: 5%;
    }

    .cl_main_col2 {
        width: 95%;
    }

    #data_cs1 td {text-align: left;}
    #data_cs1 td div {font-size: 6pt;}
    img {display: none;}

    input[type=submit],input[type=button] { display: none;}
    select { border: 0;}
   a,a:visited{text-decoration:underline}
   a[href]:after{content:none}
   abbr[title]:after{content:none}
   a[href^="javascript:"]:after,a[href^="#"]:after{content:none}
   
}

@media screen {

    .layout_left {
        overflow-y: auto;
        position: fixed;
        left: 0;
        top: 100px;
        bottom: 0;
    }

    .layout_main {
        overflow-y: auto;
        overflow-x: auto;
        font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
        position: fixed;
        top: 100px;
        bottom: 0;
    }

    .layout_left .menupanel {
        border-top: #f9f9f9 2px solid;
        font-size: 11px;
    }

    .layout_left .menupanel:first-of-type {
        border-top: none;
    }

    .layout_left .menupanel > .title {
        font-weight: bold;
        color: #43657d;
        cursor: pointer;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .layout_left .menupanel > .title:hover {
        background-color: #e0e0e0;
    }

    .layout_left .menupanel > .title > .title {
        border-bottom: 1px dotted #43657d;
    }

    .layout_left .menupanel > .title > .title > .arrow-close, .layout_left .menupanel.opened > .title > .title > .arrow-open { display: none; }
    .layout_left .menupanel > .title > .title > .arrow-open, .layout_left .menupanel.opened > .title > .title > .arrow-close { display: inline; }

    .layout_left .menupanel > .group { display: none; }
    .layout_left .menupanel.opened > .group {
        display: block;
        padding-top: 3px;
        padding-bottom: 10px;
    }

    .layout_left .menupanel .item {
        display: block;
        padding-left: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .layout_left .menupanel .item:hover {
        background-color: #e0e0e0;
    }

    .publish_comment {
        opacity:0.3;
    }

    .publish_comment_over {
        opacity:1;
    }

    .user-menu{
        position: absolute;
        background: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        padding: 0;
        border-radius: 4px;
        margin: 0;
        left: 15px;
        right: 15px;
        list-style: none;
        overflow: hidden;
        top:10px;
    }

    .user-menu li{
        padding: 5px 0;
    }

    .user-menu li:hover{
        background: rgb(102, 192, 255);
    }

    .user-menu li:first-child{
        border-bottom: rgb(102, 192, 255) 1px solid;
    }

    .user-menu li:last-child{
        border-top: rgb(102, 192, 255) 1px solid;
    }

    .active-link-client{
        border: 1px rgb(143, 206, 250) solid;
        border-radius: 4px;
    }

    .tt-suggestion > div {
        white-space: nowrap !important;
        text-overflow: ellipsis;
        overflow: hidden;
        width: auto;
    }
}

