html,
body {
    background-color: #f5f5f5;
    margin: 0;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
}


a { color: #43657d; }
a:visited { color: #0d7aae; }
a:hover { color: #43657d; text-decoration: none; }

.site_caption {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    text-align: center;
    padding: 15px 0;
    float: left;
}

.site_caption .logo {
    display: inline-block;
    background: url("../images/logo2.gif");
    width: 113px;
    height: 42px;
}

.site_caption .message {
    font-size: 10px;
    line-height: 120%;
}

.layout_top .panel {
    margin-left: 215px;
    margin-right: 15px;
    padding-top: 15px;
}

.layout_left {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    float: left;
}

.layout_main {
    margin-left: 215px;
    margin-right: 15px;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

.layout_left .panel {
    border-right: #dddddd 1px solid;
    border-top: #ffffff 2px solid;
    font-size: 11px;
    padding-left: 10px;
}

.layout_left .panel .title {
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
}

.layout_left .panel .group { padding-bottom: 10px; }

.layout_left .panel .item {
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}