html,
body {
    background-color: white;
    margin: 0;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

a {
    color: #43657d;
}

a:hover {
    color: #0d7aae;
}

a.nohover {
    color: #000;
}

a.nohover:hover {
    color: #000;
}

.site_caption {
    text-align: center;
    padding: 15px 0;
}

.logo-eu {
    display: inline-block;
    /*background: url("../images/logo2.gif");*/
    background: url("../images/logo-eu-blue.svg");
    width: 143px;
    height: 31px;
    margin: 20px 0 0;
}

.logo-ru {
    display: inline-block;
    background: url("../images/logo2.gif");
    width: 113px;
    height: 42px;
    margin: 20px 0 0;
}

.message {
    font-size: 10px;
    line-height: 120%;
}

.cl_main_col1 {
    width: 30%;
}

.cl_main_col2 {
    width: 70%;
}

@media print {
    #cl_main_div {
        width: 100%;
        margin: 0 0 0 0;
    }

    .cl_main_col1 {
        width: 5%;
    }

    .cl_main_col2 {
        width: 95%;
    }

    #data_cs1 td {
        text-align: left;
    }

    #data_cs1 td div {
        font-size: 6pt;
    }

    img {
        display: none;
    }

    input[type=submit], input[type=button] {
        display: none;
    }

    select {
        border: 0;
    }

    a, a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: none
    }

    abbr[title]:after {
        content: none
    }

    a[href^="javascript:"]:after, a[href^="#"]:after {
        content: none
    }

}

@media screen {
    .publish_comment {
        opacity: 0.3;
    }

    .publish_comment_over {
        opacity: 1;
    }

    .active-link-client {
        border: 1px rgb(143, 206, 250) solid;
        border-radius: 4px;
    }

    .tt-suggestion > div {
        white-space: nowrap !important;
        text-overflow: ellipsis;
        overflow: hidden;
        width: auto;
    }

    .important-events.table-of-changes {
        float: right;
        margin-top: 10px;
        width: 50%;
    }
}

@media screen {
    @media (max-width: 1024px) {
        abbr {
            font-size: 10px;
        }
    }
    @media (max-width: 768px) {
        abbr {
            font-size: 8px;
        }
    }
}

.table-responsive {
    overflow-x: visible;
}

.table > thead > tr > th {
    vertical-align: top;
    text-align: center;
}

.yes-no-column,
.currency-column,
.month-column,
.integer-column,
.integer-range-column,
.string-column,
.orig-column,
.tariff-voip-group-column,
.mob-column {
    min-width: 80px;
}

.is_show_in_lk-column,
.prefix-column,
.account-version-column,
.event-queue-status-column,
.country-column,
.tariff-status-column,
.price-level-column,
.tariff-person-column,
.tariff-tag-column,
.date-range-double-column {
    min-width: 110px;
}

.user-column,
.history-model-column,
.datacenter-column,
.sim-card-status-column,
.nnp-status-column,
.nnp-region-column,
.nnp-operator-column,
.event-queue-event-column,
.pricelist-column,
.package-type-column,
.package-period-column,
.number-status-column,
.is-null-and-not-null-column,
.did-group-column,
.operator-column,
.ndc-type-column,
.account-entry-type-column,
.service-type-column,
.region-column,
.city-column,
.organization-column,
.server-column,
.market-place-column,
.destination-column,
.trunk-column,
.geo-column,
.trunk-superclient-column,
.usage-trunk-column,
.disconnect-cause-column {
    min-width: 140px;
}

.mtt-service-column,
.datetime-range-double-column {
    min-width: 160px;
}

.nnp-package-tariff-column,
.resource-column {
    min-width: 200px;
}

.tariff-period-column {
    min-width: 250px;
}

.beforeHeaderFilters > div.row > div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.panel-toggle-button {
    position: fixed;
    margin-top: -17px;
    margin-left: -17px;
    top: 100px;
    cursor: pointer;
    z-index: 1002;
}

.panel-toggle-button.active {
    margin-left: -32px;
}

.dropdown-menu {
    z-index: 1002;
}

.pointer {
    cursor: pointer;
}

.account-tariff-voip-numbers {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.loading {
    background: white url('/images/ajax-loader.gif') center no-repeat;
    min-width: 55px;
    min-height: 55px;
    position: relative;
    margin: 0 auto;
    top: 30%;
}

.small_grey,
.account-tariff-log-actual-from {
    color: grey;
    font-size: smaller;
}

.uu-balance-toggle-offset {
    color: #43657d;
    cursor: pointer;
}

.uu-balance-offset td {
    font-size: smaller;
}

.bold {
    font-weight: bold;
}

.btn-cancel {
    margin-left: 15px;
    color: #d43f3a;
}

.inline {
    display: inline;
}

.nowrap {
    white-space: nowrap;
}

.dropdown-item {
    display: block;
    padding-left: 20px;
    padding-top: 5px;
}

.well h2 {
    margin-top: -10px;
}

.popover-width-auto .popover {
    max-width: none;
}

.i18n-tabs .col-sm-6 {
    padding-left: 5px;
}

.event-queue-log-param-button,
.event-queue-log-error-button {
    max-width: 150px;
}

.text-overflow-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.account-tariff-voip .well {
    padding: 9px;
    margin-bottom: 0;
}

.well.no_panel {
    overflow-x: auto;
    margin-bottom: -20px;
}

.showHistoryButton, .showVersionButton, .toggleButton {
    border-radius: 22px;
}

.showHistoryDiv, .showVersionDiv, .toggleButtonDiv {
    cursor: pointer;
    display: inline-block;
}

.fullScreenOverlay {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #F0F0F0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 99998;
    opacity: 0.8;
    display: none;
}

.fullScreenOverlayContent {
    position: relative;
    top: 25%;
    width: 200px;
    height: 200px;
    text-align: center;
    opacity: 1;
    margin: 0 auto;
    background-color: #FFF;
    vertical-align: middle;
    border: 1px solid #000;
    border-radius: 15px;
}

.row.max-screen {
    max-width: 1100px;
}

.percent100 {
    width: 100%;
}

.percent50 {
    width: 50%;
}

.no-margin {
    margin: 0;
}

.krajee-datepicker {
    width: 110px !important;
}

.margin-top-as-label {
    margin-top: 21px;
}

.grid-export-file-format {
    font-size: 1.22em !important;
    background: none !important;
}

div.required label:after {
    content: " *";
    color: red;
}

textarea.comment_on_account_form {
    height: 35px;
}

.search-trouble-problem-button,
.search-trouble-stage-comment-button{
    max-width: 400px;
    cursor: pointer;
}
