html,
body {
    background-color: #f5f5f5;
    margin: 0;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
}


a { color: #43657d; }
a:visited { color: #0d7aae; }
a:hover { color: #43657d; text-decoration: none; }

.site_caption {
    text-align: center;
    padding: 15px 0;
}

.site_caption .logo {
    display: inline-block;
    background: url("../images/logo2.gif");
    width: 113px;
    height: 42px;
}

.site_caption .message {
    font-size: 10px;
    line-height: 120%;
}

@media print {
    .layout_left {
        display: none;
    }
    #top_search {
        display: none;
    }
}

@media screen {

    .layout_left {
        position: fixed;
        left: 10px;
        top: 0;
        bottom: 0;
        width: 200px;
        min-width: 200px;
        max-width: 200px;
        overflow-y: auto;
    }

    .layout_main {
        position: fixed;
        left: 225px;
        top: 0;
        bottom: 0;
        right: 0px;
        padding-right: 10px;
        overflow-y: auto;
        font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    }

    .layout_left .menupanel {
        border-right: #dddddd 1px solid;
        border-top: #ffffff 2px solid;
        font-size: 11px;
    }

    .layout_left .menupanel .title {
        font-weight: bold;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .layout_left .menupanel .group { padding-bottom: 10px; }

    .layout_left .menupanel .item {
        padding-left: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
}