session.local.php
cache_redis.local.php
db_stat.local.php
db_sms.local.php
db_ats.local.php
db_ats2.local.php
db_pg_ats.local.php
db_pgsql.local.php
db_pg_slave.local.php
db_pgsql_nfdump.local.php
db_pg_calllegs.local.php
db_pg_cache.local.php
db_pg_slave_cache.local.php
db_pg_statistic.local.php
db_pg_history.local.php
db_pg_call_tracking.local.php
log.local.php
params.local.php
/web.local.php
/db_pg_nnp.local.php
/db_pg_nnp2.local.php
db_pg_lk.local.php
db_pg_legs.local.php