BODY {
	font-size:14px;
}
P {
	font-size:14px;
}
TABLE.site {
	DISPLAY: none
}
DIV.submenu {
	DISPLAY: none
}
.not-printable {
	DISPLAY: none
}
A {
	COLOR: #000020; TEXT-DECORATION: none
}
A:visited {
	COLOR:#000020;
}
A:active {
	COLOR:#000020;
}
.just-for-print {
	DISPLAY: block
}
