.alert.text-center div{
    font-weight: bold;
}

.no-right-indent {
    padding-right: 0;
}

.buttons-block {
    position: fixed; bottom: 0; right: 0;
}

.btn.cancel {
    width: 100px;
    margin-right: 15px;
}

.btn.save {
    width: 100px;
}