{{ $_ := set . "postfix" (printf "%s-%s" ((env "ENVNAME") | lower) ((env "COUNTRY") | lower)) }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Chart.Name }}-frontend
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/ssl-redirect: 'true'
    ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/proxy-body-size: 0
    nginx.ingress.kubernetes.io/proxy-connect-timeout: 6000
    nginx.ingress.kubernetes.io/proxy-read-timeout: 36000
    nginx.ingress.kubernetes.io/proxy-send-timeout: 36000
#    NNPLK-5: Сделать так, чтобы работали одновременно nnp и apigw
#    nginx.ingress.kubernetes.io/enable-cors: 'true'
    nginx.ingress.kubernetes.io/whitelist-source-range: >-
      172.16.0.0/16,192.168.0.0/16,10.0.0.0/8,
      85.94.32.0/24, {{- /* msk office */}}
      178.48.22.33, 185.66.52.41, 81.183.239.147, {{- /* bdp office */}}
      185.66.53.70, {{- /* bdp k8 sites entry point */}}
      185.18.110.250, {{- /* krasnodar office */}}
      46.228.0.5, {{- /* spb office */}}
      5.129.54.18, {{- /* novosib office */}}
      {{- if eq (env "COUNTRY") "RU" }}
      89.235.184.126/32,95.165.175.49/32,194.29.62.164,91.219.7.98,
      109.188.135.209/32,
      109.188.138.85/32,
      109.72.129.100/32,
      109.72.129.4/32,
      109.72.130.100/32,
      109.72.138.100/32,
      178.48.22.33/32,
      185.144.161.0/29,
      185.144.161.4/32,
      185.66.52.41/32,
      185.66.52.42/32,
      185.66.54.42/32,
      185.66.54.44/32,
      188.162.14.74/32,
      188.162.170.34/32,
      188.162.3.126/32,
      188.162.35.141/32,
      193.24.220.0/24,
      193.46.88.130/32,
      193.93.121.88/32,
      194.29.62.164/32,
      195.189.100.0/22,
      212.92.96.32/32,
      212.92.98.247/32,
      213.33.161.160/32,
      37.228.80.129/32,
      46.163.178.68/32,
      46.188.126.78/32,
      62.231.13.130/32,
      62.231.13.160/32,
      77.37.254.162/32,
      77.41.79.219/32,
      77.51.249.231/32,
      77.75.155.0/24,
      77.75.157.0/24,
      77.75.157.166/32,
      77.75.157.168/32,
      77.75.157.169/32,
      77.75.157.170/32,
      77.75.158.0/24,
      77.75.159.0/24,
      77.75.159.166/32,
      77.75.159.170/32,
      78.40.24.0/21,
      79.142.16.0/20,
      79.165.71.177/32,
      79.165.79.199/32,
      85.94.32.0/23,
      85.94.49.0/24,
      87.226.160.250/32,
      89.109.237.115/32,
      89.109.237.116/32,
      89.235.136.16/29,
      89.235.186.26/32,
      89.235.190.165/32,
      89.235.190.54/32,
      89.235.190.59/32,
      89.235.191.0/24,
      91.219.7.98/32,
      91.232.230.0/23,
      94.138.18.0/24,
      94.153.130.0/24,
      95.165.175.49/32,
      95.165.106.248/32,
      79.164.80.251/32,
      93.174.48.166/32,
      89.235.184.119/32,
      85.94.48.19/32,
      85.94.48.70/32,
      85.94.32.198/32,
      85.94.32.98/32,
      89.235.136.19/32,
      89.235.136.18/32,
      194.186.207.0/24,
      194.54.14.0/24,
      185.16.205.115/32,
      {{ end }}
      127.0.0.0/24

spec:
{{- if and (eq (env "ENVNAME") "prod") (ne (env "IS_MINIKUBE") "1") }}
  tls:
    - hosts:
        - {{ .Values.ci_url | quote }}
      secretName: mcn-tls-secret
{{- end }}
  rules:
    - host: {{ .Values.ci_url | quote }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ .Chart.Name }}-backend-{{ .postfix }}
                port:
                  number: 80
