.file_upload {
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 200px;
}

.file_upload input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

.file_name_edit {
    display: inline-block;
    background: url("/images/icons/edit.gif") no-repeat 50% 50%;
    width: 16px;
    height: 16px;
    padding: 10px;
    margin-top: 5px;
}

.file_name_edit_field {
    width: 60%;
    display: none;
}

.file_name_edit_btn {

}