.country-flag {
    border-left: 0 !important;
    background: 0 0 no-repeat !important;
}
    .country-name-text {
        border-left: 0 !important;
        margin-left: 30px;
        padding-top: 5px;
    }

    /* Россия */
    .country-flag-643 {
        background-image: url('/images/flags/russia.png') !important;
    }

    /* Венгрия */
    .country-flag-348 {
        background-image: url('/images/flags/hungary.png') !important;
    }

    /* Германия */
    .country-flag-276 {
        background-image: url('/images/flags/germany.png') !important;
    }