P {font-family: 'Times New Roman'; font-size: 8pt;}
TD {font-family: 'Times New Roman'; font-size: 8pt;}
TH {font-family: Verdana; font-size: 6pt;}
small {font-size: 6.5pt;}
strong {font-size: 6.5pt;}
h2 {font-size: 12pt;}
body {font-size: 8pt;}