H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 160%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.7em; LINE-HEIGHT: 1.1; PADDING-TOP: 0px
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; MARGIN: 1.5em 0px 1em
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN: 1.5em 0px 0.1em
}
H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%; MARGIN: 1em 0px 0.3em
}
DIV.leftmenu {
	FONT-SIZE: 11px; MARGIN: 20px; COLOR: #333333
}
DIV.test {
	FONT-SIZE: 11px; MARGIN: 20px; COLOR: #336699
}
DIV.nav {
	MARGIN-TOP: 15px; FONT-SIZE: 10px
}
DIV.files {
	FONT-SIZE: 11px; COLOR: #999999; LINE-HEIGHT: 1.3
}
.bread_a {
	FONT-SIZE: 12px
}
P {
	MARGIN: 0px 0px 1em
}
.text {
	FONT-SIZE: 100%; LINE-HEIGHT: 120%; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif
}
TD.logo-main {
	PADDING-TOP: 15px
}
TD.menu {
	PADDING-RIGHT: 15px; PADDING-LEFT: 20px; PADDING-TOP: 10px
}
.z13 {
	FONT-SIZE: 13px
}
.z12 {
	FONT-SIZE: 12px
}
.z11 {
	FONT-SIZE: 11px
}
.z10 {
	FONT-SIZE: 10px; LINE-HEIGHT: 120%
}
TD.site {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 70%; BACKGROUND-COLOR: #dbe5ea; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; BORDER-BOTTOM: #0074aa 2px solid
}
TD.site A {
	COLOR: #1c1c1c
}
TD.site-current {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 70%; BACKGROUND-COLOR: #dbe5ea; PADDING-BOTTOM: 6px; COLOR: black; PADDING-TOP: 6px; BORDER-BOTTOM: #0074aa 2px solid
}
TD.site-current A {
	COLOR: black
}
TD.topline {
	BORDER-TOP: #0074aa 4px solid
}
DIV.submenu {
	MARGIN-TOP: 10px; FONT-SIZE: 11px; COLOR: #999999
}
DIV.submenu A {
	COLOR: #0d7aae
}
DIV.submenu SPAN {
	MARGIN-TOP: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: black
}
TABLE.default {
	FONT-SIZE: 1.1em; COLOR: #333333
}
TABLE.default TD {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
TABLE.insblock {
	background:#eeeeee;
	border: 1 1 1 1 solid #d0d0d0;
}
TABLE.insblock TR TD {
	background:#eeeeee;
}
TABLE.insblock TR.other TD {
	BACKGROUND: #f0f0f0;
	color: #909090;
}
TABLE.insblock TD.header,TABLE.insblock TH {
	BACKGROUND: #e8e8e8;
	font-size:14px;
}
 
TABLE.price {
	FONT-SIZE: 12px; COLOR: #333333
}
TABLE.price TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
TABLE.price TR.other {
	BACKGROUND: #f0f0f0;
	color: #909090;
}
TABLE.price TR.even {
	BACKGROUND-COLOR: #e5e5e5;
}
TABLE.price TR.even_g {
	BACKGROUND-color:  #a0ffa0;
}
TABLE.price TR.odd_g {
	BACKGROUND-color: #d0f0d0;
}

.comment {
	background: #fff0d8;
}
TABLE.price TD.left {
	TEXT-ALIGN: right
}
TABLE.price TD.header, TABLE.price TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 11px; BACKGROUND-COLOR: #ffffff; PADDING-BOTTOM: 4px; COLOR: #999999; PADDING-TOP: 4px; TEXT-ALIGN: left
}
TABLE.price TD.header2 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 11px; BACKGROUND-COLOR: #ffffff; PADDING-BOTTOM: 4px; COLOR: #999999; PADDING-TOP: 4px; TEXT-ALIGN: right
}
TABLE.price TD.tarif {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-TRANSFORM: uppercase; COLOR: #000000
}
.other A {
	color: #909090;
}
DIV.prim {
	MARGIN-TOP: 10px; FONT-SIZE: 10px; MARGIN-BOTTOM: 20px; COLOR: #666666; LINE-HEIGHT: 100%; PADDING-TOP: 10px
}
TABLE.block TD {
	FONT-SIZE: 10px
}
TABLE.block TD.even {
	FONT-SIZE: 10px; BACKGROUND-COLOR: #f5f5f5
}
TABLE.mform {
	FONT-SIZE: 11px; COLOR: #333333
}
TABLE.mform TD {
	BACKGROUND-COLOR: #f9f9f9
}
TABLE.mform TD.left {
	TEXT-ALIGN: right
}
TABLE.mform TD.leftdisabled {
	COLOR: #999999; TEXT-ALIGN: right
}
TABLE.white {
	BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid
}
TABLE.white TD.header {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; BACKGROUND-COLOR: #fff
}
TABLE.white TD {
	BORDER-RIGHT: #fff 1px solid; FONT-SIZE: 11px; BORDER-BOTTOM: #fff 1px solid; FONT-FAMILY: Tahoma, Arial, sans-serif
}
.outset {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
IMG.outset {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
UL.nomargin {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px; PADDING-TOP: 0px
}
UL.nomargin LI {
	MARGIN-LEFT: 1.7em
}
UNKNOWN {
	MARGIN: 0.4em 0px 0.4em 1.4em
}
UL.snomargin {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px; PADDING-TOP: 0px
}
UL.snomargin LI {
	MARGIN-LEFT: 1.7em
}
UNKNOWN {
	MARGIN: 0.4em 0px 0.4em 1.4em
}
HR {
	BORDER-RIGHT: #999 0px; BORDER-TOP: #999 0px; DISPLAY: block; MARGIN-LEFT: 0px; BORDER-LEFT: #999 0px; COLOR: #999; MARGIN-RIGHT: 0px; BORDER-BOTTOM: #999 0px; HEIGHT: 1px; BACKGROUND-COLOR: #999
}
SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: "Geneva CY", Tahoma, Arial, sans-serif
}
.input {
	WIDTH: 80%
}
.textarea {
	WIDTH: 99%;
	HEIGHT: 75px;
}

.inputdisabled {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 18px; BORDER-LEFT: 0px; COLOR: #000000; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #f5f5f5
}
.button {
  border-right: #084d6e 1px solid;border-top: #0b79ad 1px solid; font-size: 11px; border-left: #0b79ad 1px solid; cursor: pointer; border-bottom: #084d6e 1px solid
}
DIV.leftpanel {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ffffff 2px solid; MARGIN-TOP: 10px; PADDING-LEFT: 10px; FONT-SIZE: 11px; BACKGROUND-COLOR: #f5f5f5; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
DIV.card {
	FONT-SIZE: 10px; MARGIN: 0px; COLOR: #999999
}
TD {
	FONT-SIZE: 12px;
}
IMG {
	border:none;
}
IMG.icon {
	margin-top:0px;
	margin-bottom:-4px;
	margin-right:2px;
	padding-right:2px;
}
.pay0 {
	background-color:#FFE0E0;
}
.pay1 {
	background-color:#E0FFE0;
}
.pay2 {
	background-color:#FFFFE0;
}
.other .pay0 {
	background-color:#FAEAEA;
}
.other .pay1 {
	background-color:#EAFAEA;
}
.other .pay2 {
	background-color:#FAFAEA;
}

.ping {
 	display:inline;
 	padding-left:6px;
 	padding-right:6px;
 	padding-top:6px;
 	padding-bottom:6px;
 	width:12px; height:12px;
 	font-size:1px;
}
.ping2 {
	margin-left:-13px;
 	margin-top:6px;
 	padding-left:6px;
 	padding-right:6px;
 	padding-bottom:6px;
 	font-size:1px;display:inline;
 	width:12px; height:6px;
}

.timetable {
	width:750px;
	border:1px solid black;
	border-width:0px 0px 1px 1px;
}
.timetable tr td {
	font-size:10px;
	text-align:center;
	background:#EAEAFF;
	padding-left:1px;
	padding-top:1px;
	padding-right:1px;
	padding-bottom:1px;
	border:1px solid black;
	border-width:1px 1px 0px 0px;
}
.timetable tr td.ttheader {
	font-size:12px;
	background:"";
}
.timetable tr td.ttheader2 {
	font-size:12px;
	background:#F0FFF0;
}

table.table_style{}
table.table_style tr.odd{
	background-color:#e5e5e5;
}
table.table_style tr.even{
	background-color:#e5e5e5;
}
table.table_style tr.title{
	background-color:#e5e5e5;
	text-align:center;
}

#searchTable th {
    font-size: 9pt;
}

#searchTable td{
    padding-left: 3px;
}

.searchTable_even {
	BACKGROUND-color:  #fafafa;
}
.searchTable_odd {
	BACKGROUND-color: #eaeaea;
}

.hint {
	display: none;
	color:green;
}

#form input.error, #form textarea.error { background-color: #db7093 }

.icon_active {
    display: inline-block;
    background: url("./images/icons/action_check.gif");
    width: 16px;
    height: 16px;
    margin-bottom: -4px;
}

.icon_disabled {
    display: inline-block;
    background: url("./images/icons/action_check_off.gif");
    width: 16px;
    height: 16px;
    margin-bottom: -4px;
}

.icon_deleted_disabled {
    display: inline-block;
    background: url("./images/icons/action_delete.gif");
    width: 16px;
    height: 16px;
    margin-bottom: -4px;
}

.icon_edit {
    display: inline-block;
    background: url("./images/icons/edit.gif");
    width: 16px;
    height: 16px;
    margin-bottom: -4px;
}

.icon_add {
    display: inline-block;
    background: url("./images/icons/add.gif");
    width: 16px;
    height: 16px;
    margin-bottom: -4px;
}

/*Для удаления актов (список счетов)*/
.tooltip{
    position:absolute;
    z-index:999;
    left:-9999px;
    width:16px;
    height:16px;
}
.tooltip p{
    margin:0;
    padding:0;
    width:16px;
    height:16px;
    cursor: pointer;
}
.datepicker-input {
	font-family: "Geneva CY",Tahoma,Arial,sans-serif;
	font-size: 11px;
	width: 9.5em;
}
.ui-datepicker{
	font-size: 10px !important;
}